body {
  font-family: Arial, sans-serif;
  background-color: #e8f5e9; /* Zachtere groene achtergrond voor een gezondheidsgevoel */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #333;
}

h2 {
  font-size: 2em;
  color: #1bc5d1; /* Groene kleur voor titels */
  margin-bottom: 20px;
}

section {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding: 60px 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
  transform: translateY(-10px); /* Subtiele hover-effect voor diepte */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

/* Calorie Tracker */
.calorie-bar {
  width: 80%;
  height: 30px;
  background-color: #ddd;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}

.calorie-fill {
  height: 100%;
  width: 0; /* Start op 0, wordt geanimeerd in JS */
  background: linear-gradient(to right, #e20000, #e28400, #8bc34a, #4caf50);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Schaduw voor diepte */
}

/* Stappenteller Cirkel */
.step-circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20px auto;
}

.circle-bg {
  fill: none;
  stroke: #ddd;
  stroke-width: 8;
}

.circle-progress {
  fill: none;
  stroke: #4caf50;
  stroke-width: 8;
  stroke-dasharray: 408;
  stroke-dashoffset: 408;
  transition: stroke-dashoffset 1s ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.step-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: #4caf50;
}

/* Button */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Gewicht Tracker */
#weightChartCanvas {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

/* Gezondheid Tips */
#healthTip {
  font-size: 1.2em;
  color: #555;
  margin: 20px 0;
  font-style: italic;
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#healthTip:hover {
  color: #4caf50;
}
